@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  font-family: "Red Hat Text", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: hsl(13, 31%, 94%);
}
body main {
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: 40px auto;
  padding: 0 20px;
  gap: 40px;
}
body main .shop {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 2;
}
body main .shop .shop__title {
  font-size: 34px;
  font-weight: 900;
  color: hsl(14, 65%, 9%);
}
body main .shop .shop__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
body main .shop .shop__products .product {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
body main .shop .shop__products .product .image__container {
  position: relative;
}
body main .shop .shop__products .product .image__container .product__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  border: 2px solid transparent;
}
body main .shop .shop__products .product .image__container .product__button-container .product__button {
  padding: 12px 25px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid hsl(14, 25%, 72%);
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: -moz-max-content;
  width: max-content;
  transition: all 0.1s;
  background-color: hsl(20, 50%, 98%);
}
body main .shop .shop__products .product .image__container .product__button-container .product__button i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: hsl(14, 86%, 42%);
}
body main .shop .shop__products .product .image__container .product__button-container .product__button label {
  font-weight: 600;
  font-size: 15px;
  font-family: inherit;
  color: hsl(14, 65%, 9%);
  cursor: pointer;
}
body main .shop .shop__products .product .image__container .product__button-container .product__button:hover {
  border-color: hsl(14, 86%, 42%);
}
body main .shop .shop__products .product .image__container .product__button-container .product__button:hover label {
  color: hsl(14, 86%, 42%);
}
body main .shop .shop__products .product .image__container .product__button-container .product__button:focus {
  transition: none;
  outline: 2px solid hsl(7, 20%, 60%);
  outline-offset: 1px;
}
body main .shop .shop__products .product .image__container .product__button-container .product__button.action {
  background-color: hsl(14, 86%, 42%);
  border-color: transparent;
  font-weight: 600;
  font-size: 15px;
  font-family: inherit;
  color: hsl(20, 50%, 98%);
  gap: 20px;
  cursor: default;
}
body main .shop .shop__products .product .image__container .product__button-container .product__button.action button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
body main .shop .shop__products .product .image__container .product__button-container .product__button.action button i {
  color: hsl(20, 50%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
body main .shop .shop__products .product .product__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main .shop .shop__products .product .product__info .product__category {
  font-size: 14px;
  color: hsl(7, 20%, 60%);
  font-weight: 600;
}
body main .shop .shop__products .product .product__info .product__title {
  font-size: 16px;
  color: hsl(14, 65%, 9%);
  font-weight: 600;
}
body main .shop .shop__products .product .product__info .product__price {
  font-size: 17px;
  color: hsl(14, 86%, 42%);
  font-weight: 600;
}
body main .shop .shop__products .product.selected .image__container .product__image {
  border-color: hsl(14, 86%, 42%);
}
body main .cart {
  flex: 1;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  position: sticky;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  background-color: hsl(20, 50%, 98%);
}
body main .cart .cart__title {
  font-size: 22px;
  font-weight: 900;
  color: hsl(14, 86%, 42%);
}
body main .cart img {
  max-width: 160px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
body main .cart p {
  font-size: 16px;
  font-weight: 600;
  color: hsl(14, 86%, 42%);
  text-align: center;
}
body main .cart .cart__list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .cart .cart__list li {
  border-bottom: 1px solid hsl(13, 31%, 94%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
}
body main .cart .cart__list li h4 {
  font-size: 14px;
  font-weight: 600;
  color: hsl(14, 65%, 9%);
}
body main .cart .cart__list li .cart__item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .cart .cart__list li .cart__item-container .cart__item-info {
  display: flex;
  gap: 10px;
}
body main .cart .cart__list li .cart__item-container .cart__item-info .item__quantity {
  color: hsl(14, 86%, 42%);
  font-size: 15px;
  font-weight: 600;
}
body main .cart .cart__list li .cart__item-container .cart__item-info .item__price {
  color: hsl(12, 20%, 44%);
  font-size: 15px;
  font-weight: normal;
}
body main .cart .cart__list li .cart__item-container .cart__item-info .item__quantity__total {
  color: hsl(12, 20%, 44%);
  font-size: 15px;
  font-weight: 900;
}
body main .cart .cart__list li .cart__item-container .cart__button--delete {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
body main .cart .cart__list li .cart__item-container .cart__button--delete i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(14, 25%, 72%);
  cursor: pointer;
  font-size: 22px;
}
body main .cart .cart__list li .cart__item-container .cart__button--delete:hover i {
  color: hsl(12, 20%, 44%);
}
body main .cart .cart__list .cart__empty {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body main .cart .cart__total {
  flex-direction: column;
  gap: 20px;
}
body main .cart .cart__total .total--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .cart .cart__total .total--info .order--message {
  font-size: 15px;
  font-weight: normal;
  color: hsl(14, 65%, 9%);
}
body main .cart .cart__total .total--info .cart__total-price {
  font-size: 22px;
  font-weight: 900;
  color: hsl(14, 65%, 9%);
}
body main .cart .cart__total .carbon--message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 6px;
  background-color: hsl(13, 31%, 94%);
  gap: 10px;
}
body main .cart .cart__total .carbon--message img {
  margin: 0;
}
body main .cart .cart__total .carbon--message .cart__note {
  font-weight: normal;
  color: hsl(14, 65%, 9%);
  font-size: 15px;
}
body main .cart .cart__total .carbon--message .cart__note strong {
  font-weight: 600;
}
body main .cart .cart__confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  border-radius: 30px;
  border: none;
  font-family: inherit;
  font-size: 17px;
  font-weight: 600;
  color: hsl(20, 50%, 98%);
  cursor: pointer;
  background-color: hsl(14, 86%, 42%);
  transition: background 0.1s;
}
body main .cart .cart__confirm:hover {
  background-color: #982c0b;
}

@media (max-width: 768px) {
  body main {
    max-width: none;
    flex-direction: column;
  }
  body main .cart {
    position: initial;
  }
}/*# sourceMappingURL=main.css.map */